@mixin flex-column($justify: flex-start, $align: stretch) {
  @include flex-parent(flex, column, $justify, $align);
}

@mixin flex-row($justify: space-between, $align: center) {
  @include flex-parent(flex, row, $justify, $align);
}

@mixin flex-parent($display: flex, $direction: row, $justify: space-between, $align: center) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin static-child($basis: auto) {
  flex: 0 0 $basis;
}

@mixin dynamic-child($basis: auto) {
  flex: 1 1 $basis;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.preroll-wrapper {
  position: absolute;
  width: 400px;
  height: 667px;
  z-index: 2;
  display: none;

  .preroll {
    width: 100%;
  }

  .pointer-dot {
    background-color: orange;
    height: 40px;
    width: 40px;
    border-radius: 20px;

    position: absolute;
    top: 260px;
    left: 230px;
    opacity: .5;
    box-shadow: inset 0px 0px 0px 4px rgba(0,0,0,.15);
    animation:
      pointer-dot-move 800ms ease-in-out 1.5s,
      pointer-click 200ms ease-in-out 2.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes pointer-dot-move {
  0% {transform: translate(0px,0px);}
  100% {transform: translate(-170px,260px);}
}

@keyframes pointer-click {
  0% {transform: translate(-170px,260px) scale(1);}
  50% {transform: translate(-170px,260px) scale(1.2);}
  100% {transform: translate(-170px,260px) scale(1);}
}

.selector-wrapper {
  padding: 10px 20px;
  background-color: #fafafa;

  &:before {
    content: "Loader Prototype";
    color: #999;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .2em;
    margin-right: 5px;
  }
}

.spinner-wrapper {
  @include flex-column();
  align-content: flex-start;
  flex-wrap: wrap;
}

.placeholder {
  min-height: 240px;
  width: 320px;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  margin: 20px;
  position: relative;
}

.img-placeholder {
  background-image: url('./images/video-placeholder.png');
  background-size: 320px 180px;

  min-height: 180px;
}

.img-placeholder-ig {
  background-image: url('./images/instagram-placeholder.png');
  background-size: 540px 540px;
  background-position: center center;

  min-height: 540px;
}

$loaderCrossFade: 200ms;

.prototype-wrapper {
  width: 400px;
  height: 667px;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
  position: relative;
  overflow: hidden;

  .top-frame {
    width: 100%;
    display: none;
  }

  .placeholder { display: none; }

  .content-wrapper {
    position: relative;

    .placeholder,
    .content {
      margin: 0px 40px;
    }

    .content {
      opacity: 0;
      width: 320px;

      &.fadeIn {
        transition: opacity $loaderCrossFade ease-in;
        opacity: 1;
      }
    }

    .placeholder {
      position: absolute;

      &.fadeOut {
        transition: opacity $loaderCrossFade ease-in;
        opacity: 0;
      }
    }
  }
}
