#inertialSpinner.placeholder .spinner-wrapper,
.staged.placeholder .spinner-wrapper {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  width: 40px;
  height: 40px; }
#inertialSpinner.placeholder .spinner-seg,
.staged.placeholder .spinner-seg {
  fill: transparent;
  stroke: #aaa;
  stroke-width: 1.5px;
  transform-origin: 50% 50%;
  stroke-dasharray: 28.278 84.834;
  stroke-dashoffset: 42.417; }

#inertialSpinner.placeholder .spinner-wrapper svg #spinner-seg-1 {
  animation: inertial-seg-1 1.2s linear infinite;
  animation-fill-mode: forwards; }
#inertialSpinner.placeholder .spinner-wrapper svg #spinner-seg-2 {
  animation: inertial-seg-2 1.2s linear infinite;
  animation-fill-mode: forwards; }
#inertialSpinner.placeholder .spinner-wrapper svg #spinner-seg-3 {
  animation: inertial-seg-3 1.2s linear infinite;
  animation-fill-mode: forwards; }

.staged.placeholder .spinner-wrapper svg .spinner,
.staged.placeholder .spinner-wrapper svg .spinner-logo {
  opacity: 0;
  transform-origin: 50% 50%;
  animation: inertial-staged-enter 0.8s ease-in 0.4s;
  animation-fill-mode: forwards; }
.staged.placeholder .spinner-wrapper svg .spinner-logo {
  fill: #aaa;
  animation-timing-function: steps(1); }
.staged.placeholder .spinner-wrapper svg #spinner-seg-1 {
  transform: rotate(90deg);
  animation: first-seg-1 0.6s cubic-bezier(0.5, 0, 0.8, 1) 1.4s, inertial-seg-1 1.2s linear 2s infinite;
  animation-fill-mode: forwards; }
.staged.placeholder .spinner-wrapper svg #spinner-seg-2 {
  transform: rotate(180deg);
  animation: first-seg-2 0.6s cubic-bezier(0.5, 0, 0.8, 1) 1.4s, inertial-seg-2 1.2s linear 2s infinite;
  animation-fill-mode: forwards; }
.staged.placeholder .spinner-wrapper svg #spinner-seg-3 {
  transform: rotate(270deg);
  animation: first-seg-3 0.6s cubic-bezier(0.5, 0, 0.8, 1) 1.4s, inertial-seg-3 1.2s linear 2s infinite;
  animation-fill-mode: forwards; }
.staged.placeholder .spinner-wrapper svg #spinner-seg-4 {
  animation: first-seg-4 0.6s cubic-bezier(0.5, 0, 0.8, 1) 1.4s;
  animation-fill-mode: forwards; }
.staged.placeholder .spinner-wrapper svg #solid-circle {
  opacity: 0;
  transform-origin: 50% 50%;
  fill: #aaa;
  stroke: #aaa;
  stroke-width: 1.5px;
  animation: inertial-staged-enter 0.8s ease-in 0.4s, inertial-staged-shrink 0.8s ease-out 1.2s;
  animation-fill-mode: forwards; }
.staged.placeholder .spinner-wrapper svg #twitter-mask-circle,
.staged.placeholder .spinner-wrapper svg #ad-mask-circle {
  opacity: 0;
  fill: white;
  transform-origin: 50% 50%;
  animation: inertial-staged-enter 0.8s ease-in 0.4s, inertial-staged-shrink 0.8s ease-out 1.2s;
  animation-fill-mode: forwards; }

#twitterStaged.placeholder #intro-circle-twitter-logo {
  fill: #fafafa; }
#twitterStaged.placeholder #twitter-logo {
  animation: inertial-staged-enter 0.8s steps(1) 0.4s, inertial-twitter-blue 0.3s ease-in 1.8s;
  animation-fill-mode: forwards; }

@keyframes inertial-twitter-blue {
  0% {
    fill: #aaa;
    transform: scale(1); }
  50% {
    fill: #1DA1F2;
    transform: scale(1.2); }
  100% {
    fill: #1DA1F2;
    transform: scale(1); } }
#adStaged.placeholder #intro-circle-ad-logo {
  fill: #fafafa; }
#adStaged.placeholder #ad-logo {
  fill: #888;
  animation: inertial-staged-enter 0.8s steps(1) 0.4s;
  animation-fill-mode: forwards; }

@keyframes inertial-seg-1 {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(90deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes inertial-seg-2 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes inertial-seg-3 {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes first-seg-1 {
  0% {
    transform: rotate(90deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes first-seg-2 {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes first-seg-3 {
  0% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes first-seg-4 {
  0% {
    transform: rotate(0deg); }
  99% {
    opacity: 1; }
  100% {
    transform: rotate(360deg);
    opacity: 0; } }
@keyframes inertial-staged-enter {
  0% {
    opacity: 0;
    transform: scale(0); }
  50% {
    transform: scale(1); }
  100% {
    opacity: 1; } }
@keyframes inertial-staged-shrink {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=inertial.css.map */
