.i-amphtml-loading-placeholder {
  background-color: #f8f8f8;
  position: relative; }

.i-amphtml-loading {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -36px;
  margin-top: -36px;
  width: 72px;
  height: 72px; }
  .i-amphtml-loading .i-amphtml-loading-spinner-segment {
    fill: transparent;
    stroke: #aaa;
    stroke-width: 1.5px;
    stroke-dasharray: 34.5575191895 103.6725575685;
    stroke-dashoffset: 51.8362787842;
    animation: none 0.6s cubic-bezier(0.5, 0, 0.8, 1) 2.8s, none 1.2s linear 3.4s infinite; }
  .i-amphtml-loading.i-amphtml-loading-content-logo:not(.i-amphtml-loading-overlay) .i-amphtml-loading-circle, .i-amphtml-loading.i-amphtml-loading-small:not(.i-amphtml-loading-overlay) .i-amphtml-loading-circle {
    display: none; }
  .i-amphtml-loading .i-amphtml-loading-circle,
  .i-amphtml-loading .i-amphtml-loading-logo,
  .i-amphtml-loading .i-amphtml-loading-spinner {
    opacity: 0;
    fill: #aaaaaa; }
  .i-amphtml-loading .i-amphtml-loading-circle {
    animation: i-amphtml-loading-scale-and-fade-in 0.8s ease-in 0.6s, i-amphtml-fade-out 0.8s ease-out 1.8s; }
  .i-amphtml-loading .i-amphtml-loading-logo {
    animation: i-amphtml-fade-in 0.8s ease-in 0.6s; }
  .i-amphtml-loading .i-amphtml-loading-spinner {
    fill: none;
    animation: i-amphtml-fade-in 0.8s ease-in 1.8s; }

.i-amphtml-loading-finished .i-amphtml-loading-spinner {
  animation: i-amphtml-fade-out 0.4s ease-out; }

.i-amphtml-loading-small {
  margin-left: -24px;
  margin-top: -24px;
  width: 48px;
  height: 48px; }
  .i-amphtml-loading-small .i-amphtml-loading-spinner {
    animation: i-amphtml-fade-in 0.8s ease-in 0.6s; }
  .i-amphtml-loading-small .i-amphtml-loading-spinner-segment {
    stroke-dasharray: 12.5663706144 37.6991118431;
    stroke-dashoffset: 18.8495559215;
    animation: none 0.6s cubic-bezier(0.5, 0, 0.8, 1) 1.4s, none 1.2s linear 2s infinite; }
  .i-amphtml-loading-small.i-amphtml-loading-content-logo .i-amphtml-loading-spinner {
    display: none; }

.i-amphtml-loading-large {
  margin-left: -56px;
  margin-top: -56px;
  width: 112px;
  height: 112px; }
  .i-amphtml-loading-large .i-amphtml-loading-spinner-segment {
    stroke-dasharray: 65.9734457254 197.9203371762;
    stroke-dashoffset: 98.9601685881; }

.i-amphtml-loading-twitter .i-amphtml-loading-spinner-segment {
  stroke: #1DA1F2; }
.i-amphtml-loading-twitter .i-amphtml-loading-logo {
  fill: #1DA1F2; }

.i-amphtml-loading-pinterest .i-amphtml-loading-spinner-segment {
  stroke: #E60019; }
.i-amphtml-loading-pinterest .i-amphtml-loading-logo {
  fill: #E60019; }

.i-amphtml-loading-facebook .i-amphtml-loading-spinner-segment {
  stroke: #1877f2; }
.i-amphtml-loading-facebook .i-amphtml-fb-logo-outline {
  fill: #1877f2; }
.i-amphtml-loading-facebook .i-amphtml-fb-logo-f {
  fill: #ffffff; }

.i-amphtml-loading-ad .i-amphtml-loading-logo {
  fill: #888888; }
.i-amphtml-loading-ad .i-amphtml-ad-badge-label {
  font-size: 11px;
  font-family: sans-serif; }

.i-amphtml-loading-overlay .i-amphtml-loading-circle {
  fill: rgba(0, 0, 0, 0.6);
  animation: i-amphtml-loading-scale-and-fade-in 0.8s ease-in 0.6s; }
.i-amphtml-loading-overlay .i-amphtml-loading-spinner-segment {
  stroke: #fafafa; }
.i-amphtml-loading-overlay .i-amphtml-loading-logo, .i-amphtml-loading-overlay .i-amphtml-fb-logo-outline {
  fill: #ffffff; }
.i-amphtml-loading-overlay .i-amphtml-fb-logo-f {
  display: none; }

#i-amphtml-loading-spinner-segment-1 {
  transform: rotate(90deg);
  animation-name: i-amphtml-loading-first-spin-1, i-amphtml-loading-spin-1; }

#i-amphtml-loading-spinner-segment-2 {
  transform: rotate(180deg);
  animation-name: i-amphtml-loading-first-spin-2, i-amphtml-loading-spin-2; }

#i-amphtml-loading-spinner-segment-3 {
  transform: rotate(270deg);
  animation-name: i-amphtml-loading-first-spin-3, i-amphtml-loading-spin-3; }

#i-amphtml-loading-spinner-segment-4 {
  animation-name: i-amphtml-loading-first-spin-4, none; }

.i-amphtml-loading .i-amphtml-loading-spinner,
#i-amphtml-loading-spinner-segment-1,
#i-amphtml-loading-spinner-segment-2,
#i-amphtml-loading-spinner-segment-3,
#i-amphtml-loading-spinner-segment-4,
.i-amphtml-loading .i-amphtml-loading-logo,
.i-amphtml-loading .i-amphtml-loading-circle {
  transform-origin: 60px 60px;
  animation-fill-mode: forwards; }

@keyframes i-amphtml-loading-scale-and-fade-in {
  0% {
    opacity: 0;
    transform: scale(0); }
  50% {
    transform: scale(1); }
  100% {
    opacity: 1; } }
@keyframes i-amphtml-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes i-amphtml-fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes i-amphtml-loading-spin-1 {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(90deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes i-amphtml-loading-spin-2 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes i-amphtml-loading-spin-3 {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes i-amphtml-loading-first-spin-1 {
  0% {
    transform: rotate(90deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes i-amphtml-loading-first-spin-2 {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes i-amphtml-loading-first-spin-3 {
  0% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes i-amphtml-loading-first-spin-4 {
  0% {
    transform: rotate(0deg); }
  99% {
    opacity: 1; }
  100% {
    transform: rotate(360deg);
    opacity: 0; } }

/*# sourceMappingURL=amp-loader.css.map */
